.sidebar {
    float: left;
    width: 30%;
}

.content {
    margin-top: 20px;
    float: left;
    width: 60%;
}

.buttons {
    width: 100%;
    margin-bottom: 5px !important;
}

.links {
    text-decoration: none;
}